<style>
    #webcam-preview {
        width: 90%;
        height: 90%;
        margin-left: 75px;
        margin-right: 30px;
    }
    
    #take-picture-button {
        margin-top: 10px;
        margin-left: 580px;
        margin-bottom: 10px;
        margin-right: 500px;
    }
    
    #webcam-capture {
        width: 90%;
        height: 200%;
        margin-left: 75px;
        margin-right: 35px;
    }
</style>

<video id="webcam-preview" width="600" height="600"></video>
<button id="take-picture-button">Take Picture</button>
<canvas id="webcam-capture" width="600" height="600"></canvas>

<script>
    // Mendapatkan referensi ke elemen video, canvas, dan tombol
    var videoElement = document.getElementById('webcam-preview');
    var canvasElement = document.getElementById('webcam-capture');
    var buttonElement = document.getElementById('take-picture-button');

    // Mendapatkan akses ke media yang tersedia pada perangkat (kamera dan mikrofon)
    navigator.mediaDevices.getUserMedia({
            video: true,
            audio: false
        })
        .then(function(mediaStream) {
            // Menampilkan preview dari webcam pada elemen video
            videoElement.srcObject = mediaStream;
            videoElement.play();

            // Menangkap gambar dari webcam saat tombol diklik
            buttonElement.addEventListener('click', function() {
                // Menangkap gambar dari elemen video dan menggambarnya pada elemen canvas
                var context = canvasElement.getContext('2d');
                context.drawImage(videoElement, 0, 0, 640, 480);

                // Menyimpan data URL gambar sebagai sebuah gambar
                // Anda dapat menggunakannya untuk menyimpan atau mengirim gambar ke server
                // atau melakukan operasi lain yang diperlukan
                var image = new Image();
                image.src = imageDataUrl;
                document.body.appendChild(image);
            });
        })
        .catch(function(error) {
            // Jika terjadi kesalahan, tampilkan pesan error
            console.error('Error accessing media devices.', error);
        });
</script>